<template>
    <v-content>
        <v-container grid-list-md>
            <v-layout row wrap>
                <v-flex xs12 md12 lg12>
                    <v-card>
                        <v-card-title>
                            <h1>Profile</h1>
                        </v-card-title>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-container>
    </v-content>
</template>

<script>
    export default {
        data: function() {
            return {

            }
        }
    }
</script>

<style scoped>

</style>
