<template>
    <v-content>
        <v-container grid-list-md>
            <v-layout row wrap>
                <v-flex v-for="survey in surveys" xs12 md6 lg4 :key="survey.id">
                    <v-card>
                        <v-img src="https://cdn.vuetifyjs.com/images/cards/plane.jpg" height="200px">
                            <v-container fill-height fluid pa-2>
                                <v-layout fill-height>
                                    <v-flex xs12 align-end flexbox>
                                        <span class="headline white--text" v-text="survey.data()['title']"></span>
                                    </v-flex>
                                </v-layout>
                            </v-container>
                        </v-img>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn icon>
                                <v-icon>favorite</v-icon>
                            </v-btn>
                            <v-btn icon>
                                <v-icon>bookmark</v-icon>
                            </v-btn>
                            <v-btn icon>
                                <v-icon>share</v-icon>
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-flex>
                <v-flex xs12 style="margin-top: 15px">
                    <div class="text-xs-center">
                        <v-btn type="submit" v-on:click="add()" color="success">Daha fazla görüntüle</v-btn>
                    </div>
                </v-flex>
            </v-layout>
        </v-container>
    </v-content>
</template>

<script>
    import { fireStore, timeStamp } from '../plugins/firebase';

    export default {
        data() {
            return {
                i: 0,
                surveys: [],
            };
        },
        created: function() {
            fireStore.collection('surveys').orderBy('creationDate', 'desc')
                .onSnapshot((data) => this.surveys = data.docs);
        },
        methods: {
            add() {
                this.i++;
                fireStore.collection('surveys').add({
                    title: 'TY - ' +this.i,
                    content: 'dasdsasadadsdas',
                    creationDate: timeStamp.now(),
                    order: this.i,
                });
            }
        }
    };
</script>

<style scoped>

</style>
