<template>
    <v-app>
        <router-link tag="span" to="/"><a>Home</a></router-link>
        <router-link tag="span" to="/login"><a>Login</a></router-link>
        <router-link tag="span" to="/register"><a>Register</a></router-link>
        <a @click="logout()">Logout</a>
        <a href="" v-if="authenticated">qqqqq</a>
        <router-view></router-view>
    </v-app>
</template>

<script>
    import AuthService from './core/services/auth.service';
    import store from './plugins/store';

    export default {
        data: function() {
            return {
                authenticated: false,
            };
        },
        methods: {
            logout() {
                AuthService.logout().then((result) => this.$router.replace('/login'))
                    .catch((error) => alert('Bir hata oluştu!'));
            }
        },
        created() {
            store.subscribe((result) => {
                if (result.payload.user) {
                    this.authenticated = true;
                } else {
                    this.authenticated = false;
                }
            })
        },
    }
</script>

<style scoped>
    a {
        margin: 0 8px;
    }

    .main {
        width: 50%;
        margin: 0 auto;
        border: 3px solid black;
        padding: 30px;
        height: 500px;
        text-align: center;
    }
</style>
