<template>
    <v-content>
        <v-container grid-list-md>
            <v-layout row wrap>
                <v-flex xs12 md12 lg12>
                    <v-card>
                        <v-card-title>
                            <h1>Login</h1>
                            <v-form ref="form" v-model="valid" style="width: 100%">
                                <v-text-field v-model="email" :rules="rules.email" label="E-posta" required></v-text-field>
                                <v-text-field type="password" v-model="password" :rules="rules.password" label="Şifre" required></v-text-field>
                                <v-btn :disabled="!valid" color="success" style="float: right" @click="submit">Giriş Yap</v-btn>
                            </v-form>
                        </v-card-title>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-container>
    </v-content>
</template>

<script>
    import AuthService from '../../core/services/auth.service';

    export default {
        data: function() {
            return {
                valid: false,
                email: '',
                password: '',
                rules: {
                    email: [
                        (validation) => !!validation || 'Lütfen e-posta adresinizi giriniz!',
                        (validation) => /.+@.+/.test(validation) || 'Lütfen geçerli bir e-posta adresi giriniz!',
                    ],
                    password: [
                        (validation) => !!validation || 'Lütfen şifrenizi giriniz!!',
                    ],
                }
            };
        },
        methods: {
            submit: function () {
                if (!this.$refs.form.validate()) {
                    alert('Lütfen formu eksiksiz doldurun!');
                    return false;
                }

                AuthService.login(this.email, this.password)
                    .then((result) => {
                        if (result.response.code === 'auth/user-not-found') {
                            alert('Böyle bir kullanıcı bulunamadı!');
                        } else if (result.response.code === 'auth/wrong-password') {
                            alert('Lütfen şifrenizi kontrol ediniz!');
                        } else if (result.response.user) {
                            setTimeout(() => this.$router.replace('/'), 500);
                        }
                    })
                    .catch(() => alert('Bir hata oluştu!') );
            }
        }
    }
</script>

<style scoped>

</style>
