<template>
    <v-content>
        <v-container grid-list-md>
            <v-layout row wrap>
                <v-flex xs12 md12 lg12>
                    <v-card>
                        <v-card-title>
                            <h1>Register</h1>
                            <v-form ref="form" v-model="valid" style="width: 100%">
                                <v-text-field v-model="email" :rules="rules.email" label="E-posta" required></v-text-field>
                                <v-text-field type="password" v-model="password" :rules="rules.password" label="Şifre" required></v-text-field>
                                <v-btn :disabled="!valid" color="success" style="float: right" @click="submit">Kayıt Ol</v-btn>
                            </v-form>
                        </v-card-title>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-container>
    </v-content>
</template>

<script>
    import authService from '../../core/services/auth.service';

    export default {
        data: function() {
            return {
                valid: false,
                email: '',
                password: '',
                rules: {
                    email: [
                        (validation) => !!validation || 'Lütfen bir e-posta adresi giriniz!',
                        (validation) => /.+@.+/.test(validation) || 'Lütfen geçerli bir e-posta adresi giriniz!',
                    ],
                    password: [
                        (validation) => !!validation || 'Lütfen bir şifre giriniz!',
                        (validation) => validation.length >= 6 || 'Şifreniz en az 6 karakter olmalıdır!',
                    ],
                }
            };
        },
        methods: {
            submit: function () {
                if (!this.$refs.form.validate()) {
                    alert('Lütfen formu eksiksiz doldurun!');
                    return false;
                }

                authService.register(this.email, this.password)
                    .then((result) => {
                        if (result.response) {
                            if (result.response.code === 'auth/email-already-in-use') {
                                alert('Böyle bir e-mail adresi zaten kullanılmakta!');
                            }
                        } else {
                            if (result.success) {
                                // TODO: Kayıt olduktan sonra ana sayfaya gitmiyor.
                                this.$router.push('/');
                            }
                        }
                    })
                    .catch(() => alert('Bir hata oluştu!'));
            }
        }
    }
</script>

<style>
    .v-messages__message {
        line-height: normal !important;
    }
</style>
